
.inline-block {
    display: inline-block;
    vertical-align: top;
  }
  .banner {
    width: 90%;
    height: 550px;
    border: 4px soild #59603A;
    padding: 1%;
    text-align: center;
    display: block;
  }
  .wrapper {
    width: 1920px;
    margin-bottom: 0%;
    margin-top: 0%;
    margin-left: auto;
    margin-right: auto;
  }
  nav {
    width: 90%;
    padding: 1%;
    box-shadow: 6px 6px 10px #59603A;
  }
  ul {
    width: 50%;
    margin-left: auto;
    text-align: right;
  }
 
  .heroImg {
    height: 600px;
    padding: 25px;
  }
  .content {
    width: 500px;
    margin: 0 auto;
  }
  footer {
    background-color: #FF8364;
    font-size: 15pt;
   text-align: center;
    padding: 1% 0%;
  }
  
  nav {
    display: flex;
    justify-content: center;
    background-color:#FF8364;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    margin: 10px;
  }
  
  nav a {
    color: black;
    text-decoration: none;
  }
.font {
    font-family: 'Libre Bodoni', serif;
    font-size: 12pt;
}


  
body{
    background-color:#F3DCAD;
}
h1, h3 {
    padding: 2%;
    text-align: center;
}
/* My UX Skills section coded using CSS flex */
.mySkills {
  margin: 50px 0;
  padding: 0 20px;
  font-size: 24px;
}

.flexContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 24px;
}

.flexContainer > div {
  width: 30%;
  margin: 0 10px;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}

.flexContainer img {
  max-width: 80px;
  margin-bottom: 10px;
}

.flexContainer h3 {
  margin-bottom: 10px;
  font-size: 24px;
}

.flexContainer p {
  font-size: 18px;
  line-height: 1.5;
}
/* My Work Section Constructed using CSS Grid */
.myWork {
  margin: 50px 0;
  padding: 0 20px;
}

.workGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "project1 info1"
    "project2 info2";
  gap: 10px;
}

.workGrid > div:nth-child(1) {
  grid-area: project1;
  overflow: hidden;
}

.workGrid > div:nth-child(2) {
  grid-area: info1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.workGrid > div:nth-child(3) {
  grid-area: project2;
  overflow: hidden;
}

.workGrid > div:nth-child(4) {
  grid-area: info2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.workGrid img {
  width: 50%;
  height: auto;
  object-fit: cover;
  transition: transform 0.5s;
}

.workGrid h4 {
  font-size: 10px;
  margin: 10px 0;
}

.workGrid p {
  font-size: 18px;
  margin-bottom: 20px;
}

.workGrid button {
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  background-color: #FF8364;;
  color: black;
  cursor: pointer;
  transition: background-color 0.5s;
}

.workGrid button:hover {
  background-color: #FF8364;
}

@media (max-width: 600px) {
  /* My UX Skills section for mobile */
  .flexContainer {
    flex-direction: column;
  }

  .flexContainer > div {
    width: 100%;
    margin: 10px 0;
  }

  .center {
    display: flex; 
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 20px;
  }

  /* My Work section for mobile */
  .workGrid {
    grid-template-areas:
      "Background&Education" 
      "Education"
      "Background Experience";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
  }
  .workGrid > div:nth-child(2),
  .workGrid > div:nth-child(4) {
    text-align: center;
  }
  }


  /* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color:#FFD98E;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: center;
  border: none;
  outline: none;
  transition: 0.4s;
  font-size: 24px;
  font-family: 'Libre Bodoni', serif;
}

.accordion-content {
  padding: 0 18px;
  background-color:FFD98E; 
  display: none;
  overflow: hidden;
  text-align: center;
  font: size 18px; ;

}
  
